{% extends 'base.html' %}
{% block content %}
    <h1 class="h2">{{ title }}</h1>

<div class="row">
    <div class="col-md-5">
        <div class="card bg-primary text-white mb-4">
            <div class="card-header">Встречаем обновленный интерфейс</div>
            <div class="card-body">
                <p class="card-text">
                Страница для экстренной разблокировки визита.
<br>
                Работает только если по документу создана 1 ККМ операция и в визите нет нескольких документов (расходников)
</p><p>
                Также можно использовать для получения ссылки на запись из ккм операции
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card bg-warning text-white mb-4">
            <div class="card-header">История статусов запросов</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 unlockstatus" style="display: none;">
                            <span class="badge bg-success">Success</span>
                            <span class="badge bg-danger">Failed</span>
                            <h5 class="card-title text-white">Ответ анлокера</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="col-md-12 getinfostatus" style="display: none;">
                            <span class="badge bg-success">Success</span>
                            <span class="badge bg-danger">Failed</span>
                            <h5 class="card-title text-white">Ссылка на запись</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="input-group">
                        <input type="text" class="form-control kkm_input" placeholder="https://yclients.com/kkm/transactions/details/67248544/">
                        <button class="btn btn-outline-warning" type="button" id="runbtn" onclick="unlock()">
                            <i id="spinner" style="display: none;" aria-hidden="true" class="fa fa-spinner"></i>
                            Отправить на разблокировку</button>
                        <button class="btn btn-outline-success" type="button" id="checkbtn" onclick="getinfo()">
                            <i id="spinner2" style="display: none;" aria-hidden="true" class="fa fa-spinner"></i>
                            Получить запись</button>
    </div>
</div>


<script src="{{ url_for('static', filename='js/unlocker.js') }}"></script>
{% endblock %}