config.py
*.pyc
*.pyc
*.xls
*.xlsx
*.xlsx
*.pyc
.idea/misc.xml
__pycache__/pageindex.cpython-310.pyc
apps/__pycache__/fiosplitter.cpython-310.pyc
apps/__pycache__/fsr.cpython-310.pyc
apps/__pycache__/search.cpython-310.pyc
*.pyc
