{% extends 'base.html' %}

{% block content %}



        <div class="col-lg-12 mb-4 order-0 notion">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-sm-12">
                  <div class="card-body">
    <h5 class="card-title text-primary">Нетипичные кейсы</h5>
                      <p class="card-text">
              Собираем кейсы вместе! Если столкнулись с чем-то неочевидным, или не логичным, пишите Филиппу Щигарцову, Веронике Худяковой или мне (Филиппову Анатолию) - мы добавим его на сайт
</p >
   <div class="nav-align-top mb-4">
    <ul class="nav nav-pills mb-3" role="tablist">
        {% for block in blocks %}
            {% if block.type.startswith('heading') %}
               <li class="nav-item">
                    <button type="button" class="nav-link {% if loop.first %}active{% endif %}" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-{{ loop.index }}"
                        aria-controls="navs-pills-top-{{ loop.index }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                        {{ block.content }}
                    </button>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for block in blocks %}

            {% if block.type == 'paragraph' %}
                    <div class="tab-pane fade {% if loop.first %}active show{% endif %}" id="navs-pills-top-{{ loop.index-1 }}" role="tabpanel">
                      {{ block.content }}
                    </div>
            {% endif %}

        {% endfor %}

    </div>

</div>

</div>

              </div>
            </div>
          </div>
        </div>




{% endblock %}