{% extends 'base.html' %}

{% block content %}

        <div class="col-lg-3 mb-4 order-0">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-sm-12">
                  <div class="card-body">
                    <h5 class="card-title text-primary">Как получить ID сущности в YCLIENTS</h5>
                        <p class="mb-4">
                            Все расскажу, все покажу, но позже. Сейчас главное сделать шаблон,
                            и движок проекта, чтобы все рисовалось хорошо задорно и весело.
                        </p>
                  </div>
              </div>
            </div>
          </div>
        </div>


<div class="row">
    <div class="col-lg-3 mb-4 order-0">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-sm-12">
                  <div class="card-body">
                    <h5 class="card-title text-primary">Как получить ID сущности в YCLIENTS</h5>
                        <p class="mb-4">
                            Все расскажу, все покажу, но позже. Сейчас главное сделать шаблон,
                            и движок проекта, чтобы все рисовалось хорошо задорно и весело.
                        </p>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-6 mb-4 order-0">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-sm-12">
                  <div class="card-body">
                    <h5 class="card-title text-primary">Как получить ID сущности в YCLIENTS</h5>
                        <p class="mb-4">
                            Все расскажу, все покажу, но позже. Сейчас главное сделать шаблон,
                            и движок проекта, чтобы все рисовалось хорошо задорно и весело.
                        </p>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}