{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12 mb-4 order-0 notion">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-sm-12">
                  <div class="card-body">
    <h5 class="card-title text-primary">SQL запросы</h5>
   <div class="nav-align-top mb-4">
    <ul class="nav nav-pills mb-3" role="tablist">
        {% for block in blocks %}
            {% if block.type.startswith('heading') %}
               <li class="nav-item">
                    <button type="button" class="nav-link {% if loop.first %}active{% endif %}" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-{{ loop.index }}"
                        aria-controls="navs-pills-top-{{ loop.index }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                        {{ block.content }}
                    </button>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

<div class="tab-content">
    {% for block in blocks %}
        {% if block.type == 'combined' %}
                <div class="tab-pane fade {% if loop.first %}active show{% endif %}" id="navs-pills-top-{{ loop.index-1 }}" role="tabpanel">
                    {% for item in block.content %}
                        {% if item.type == 'paragraph' %}
                               <p>{{ item.content | safe }}</p>
                        {% elif item.type.startswith('heading') %}
                                <h{{ item.type[-1] }}>{{ item.content }}</h{{ item.type[-1] }}>
                        {% elif item.type == 'to_do' %}
                                <input type="checkbox" {% if item.checked %} checked {% endif %}> {{ item.content }}<br>
                        {% elif item.type in ['bulleted_list_item', 'numbered_list_item'] %}
                                <li>{{ item.content }}</li>
                        {% elif item.type == 'image' %}
                                <img src="{{ item.source }}" alt="Notion Image">
                        {% elif item.type == 'callout' %}
                                <div class="callout">
                                    {{ item.content }}
                                </div>
                        {% elif item.type == 'code' %}
                              <pre><code class="sql">{{ item.content }}</code></pre>
                        {% else %}
                            {{ item.content }}
                        {% endif %}
                    {% endfor %}
            </div>
        {% elif block.type == 'code' %}
                            <div class="tab-pane fade {% if loop.first %}active show{% endif %}" id="navs-pills-top-{{ loop.index-1 }}" role="tabpanel">
                              <pre><code class="sql">{{ item.content }}</code></pre>
                            </div>
        {% endif %}
    {% endfor %}
</div>

</div>

</div>

              </div>
            </div>
          </div>
        </div>




{% endblock %}
