{% extends 'base.html' %}

{% block content %}
<h2>дашборды тут будут</h2>

   <h1>WebSocket Example</h1>
    <button onclick="startTask()">Start Task</button>
    <pre id="percent"></pre>
    <h4 id="result"></h4>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
        var socket = io();
        var resultContainer = document.getElementById('result');
        var percentContainer = document.getElementById('percent');

        socket.on('task_completed', function(data) {
            console.log('Task completed:', data);
            resultContainer.innerHTML = data.data;
        });

        socket.on('processing', function(data) {
            percentContainer.innerHTML = data;
        });

        function startTask() {
            // Отправка запроса на сервер для запуска задачи
            fetch('/start')
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                     resultContainer.innerHTML = 'Task started';
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

{% endblock %}