{% extends 'base.html' %}

{% block content %}
<h2>Дашборды по работе с партнерами</h2>


    <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-6 mb-4 order-0">
                  <div class="card ">

                        <div class="card-body">

                          <h5 class="card-title text-primary">Новые сообщения</h5>
                          <div class="mp-new-messages">

                            <ul class="list-group" id="message-list">



                          </ul>
                          </div>
                        </div>
                      </div>

                    </div>



                <div class="col-lg-6 mb-4 order-2">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div >
                        <div class="card-body">
                          <h5 class="card-title text-primary">Модерация</h5>
                          <div class="mp-moderation">
                            <div class="list-group list-group-flush ">
                              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="mp-title">Экспекто</span>
                                <span class="badge bg-warning">in progress</span>
                                <i class='bx bx-link-external'></i>
                              </a>
                              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="mp-title">Mango</span>
                                <span class="badge bg-danger">внимание</span>
                                <i class='bx bx-link-external'></i>
                              </a>
                              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="mp-title">Unibell</span>
                                <span class="badge bg-info">ждем исправления</span>
                                <i class='bx bx-link-external'></i>
                              </a>
                              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="mp-title">PushSMS</span>
                                <span class="badge bg-warning">in progress</span>
                                <i class='bx bx-link-external'></i>
                              </a>
                              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="mp-title">Whatsapp Queen</span>
                                <span class="badge bg-success">success</span>
                                <i class='bx bx-link-external'></i>
                              </a>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



<!-- Модальное окно -->
<div class="modal fade " id="extModal" tabindex="-1" aria-labelledby="extModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jsonModalLabel"></h5>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <a href="#" target="_blank" id="eddyButton" class="btn btn-outline-success" >
                              <span class="tf-icons bx bx-cloud"></span>&nbsp; Перейти в HelpDesk
                </a>
                <a href="#" target="_blank" type="button" id="tgButton" class="btn btn-outline-info">
                              <span class="tf-icons bx bxl-telegram"></span>&nbsp; Перейти в telegram
                </a>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/mp-dashboard.js') }}"></script>




{% endblock %}