{% extends 'base.html' %}
{% block content %}
    <h1 class="h2">Сплиттер имени в карточке клиента</h1>
<div>
    <section>
        <div class="container-fluid px-3 px-md-0">

            <div class="row">


            <div >
                <div class="card bg-dark text-white mb-4">
                <div class="card-header">Настройки</div>
                <div class="card-body">
                        <div class="input-group">
                        <input type="number" class="col-md-3 col-12 form-control" id="salon" placeholder="ID филиала"  autocomplete="off"  required>
                        <input type="text" id="login" name="salon" class="form-control" required placeholder="Логин владельца">
                        <input type="password" id="pass" name="salon" class="form-control" required placeholder="Пароль владельца">
                        </div>


                    <div class="settings">
<!--                        <div class="form-check form-switch mb-2">-->
<!--                            <input type="checkbox" checked name="fios-set" class="form-check-input" value="smart" id="flexSwitch0">-->
<!--                            <label class="form-check-label" for="flexSwitch0">Смарт-режим</label>-->
<!--                        </div>-->
<!--                        <div class="form-check form-switch mb-2">-->
<!--                            <input type="checkbox" checked name="fios-set" class="form-check-input" value="smart" id="flexSwitch1">-->
<!--                            <label class="form-check-label" for="flexSwitch1">Ошибки по завершению</label>-->
<!--                        </div>-->
<!--                        <div class="form-check form-switch mb-2">-->
<!--                            <input type="checkbox" checked name="fios-set" class="form-check-input" value="smart" id="flexSwitch2">-->
<!--                            <label class="form-check-label" for="flexSwitch2">Отправить push в Slack по завершению</label>-->
<!--                        </div>-->
<!--                        <div class="form-check form-switch mt-2">-->
<!--                            <input type="checkbox" name="fios-set" class="form-check-input" value="smart" id="flexSwitch3">-->
<!--                            <label class="form-check-label" for="flexSwitch3">По завершению парсинга скачать файл с ошибками</label>-->
<!--                        </div>-->
                    </div>






                </div>
                </div>
            </div>


            <div class="row mt-2">
                    <div id="error-message" class="alert alert-danger" style="display: none;"></div>

                <div class="input-group">
                                    <button class="btn btn-outline-warning" type="button" id="getbtn" onclick="getClients()">
                                        <i id="spinner" style="display: none;" aria-hidden="true" class="fa fa-spinner"></i>
                                        Выгрузить клиентов</button>
                                    <button class="btn btn-outline-success" type="button" id="parsebtn" onclick="parseFIO()">
                                        <i id="spinner2" style="display: none;" aria-hidden="true" class="fa fa-spinner"></i>
                                        Парсинг (разбить на ФИО)</button>
                                        <button class="btn btn-outline-success" type="button" id="savebtn" onclick="saveResult()">
                                        <i id="spinner3" style="display: none;" aria-hidden="true" class="fa fa-spinner"></i>
                                        Сохранить изменения</button>

                </div>
            </div>
            <div class="row p-4 resultTable">
                <div id="result" class="card overflow table-responsive"></div>
                </div>
            </div>



            </div>
        </div>
    </section>
</div>

<script src="{{ url_for('static', filename='js/fiosplitter.js') }}"></script>
{% endblock %}