{% extends 'base.html' %}
{% block content %}
    <h1 class="h2">{{ title }}</h1>


    <div class="row">
        <div class="col-md-4 mb-3">
            <form id="upload-form" action="/visits/upload" method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"  id="formFile" name="file" accept=".xls, .xlsx" required aria-describedby="inputGroupFileAddon04" aria-label="Выберите файл для загрузки">
                        <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon04">Загрузить</button>
                    </div>
            </form>
        </div>
        <div class="col-md-4 mb-3">

                    <div class="input-group">
                        <span class="input-group-text">Данные филиала</span>
                        <input type="text" aria-label="First name" class="form-control">
                        <input type="text" aria-label="Last name" class="form-control">
                    </div>

        </div>
    </div>
    <div class="row">
        <div class="card resultTable" style="display:none">
            <h5 class="card-header">Результат парсинга загруженного файла</h5>
            <div id="result" class="overflow table-responsive"></div>
        </div>
    </div>


<script src="{{ url_for('static', filename='js/loadvisits.js') }}"></script>

{% endblock %}